
<h1>Hello, contact me!</h1>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="https://avatars1.githubusercontent.com/u/2975653?s=460&u=350009bb44735456d7e4d2c485d1c541013d8362" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            Léo de Oliveira
                        </h4>
                        <small>
                            <cite title="San Francisco, USA">
                                Joinville, Brazil <i class="glyphicon glyphicon-map-marker">
                                </i>
                            </cite>
                        </small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> <email address="leodeoliveira.info@gmail.com" content="leodeoliveira.info@gmail.com"></email> 
                            <br />
                            <i class="glyphicon glyphicon-star"></i> <a href="https://github.com/leodeoliveira">Github</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> July 12, 1994
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
